<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.evpoly.polyweb.staffPage.dao.StaffPageDAO">
    <select id="getStaffs" resultType="com.evpoly.polyweb.staffPage.vo.StaffPageVO">
        SELECT mbr_seq, mbr_nm, mbr_reg_tm
        FROM ev_mbr
    </select>
    
    <select id="delete">
        DELETE FROM ev_mbr
        WHERE mbr_seq = #{mbrSeq}
    </select>

</mapper>