<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.evpoly.polyweb.staffPage.dao.StaffPageDAO">
    <select id="getStaffs" resultType="com.evpoly.polyweb.staffPage.vo.StaffPageVO">
        SELECT mbr_seq, mbr_nm, mbr_reg_tm, mbr_position, mbr_state
        FROM ev_mbr
    </select>
    
    <select id="delete">
        DELETE FROM ev_mbr
        WHERE mbr_seq = #{mbrSeq}
    </select>
    
    <select id="save">
        INSERT INTO ev_mbr (
            pkg_area_seq,
            mbr_id,
            mbr_pw,
            mbr_nm,
            mbr_email,
            cretr_id,
            cret_dt,
            mbr_reg_tm
        )
        VALUES(
            #{pkgAreaSeq},
            #{mbrId},
            #{mbrPw},
            #{mbrNm},
            #{mbrEmail},
            'master',
            NOW(),
            #{mbrRegTm}
        )
    </select>
    
    <select id="getPkgs" resultType="com.evpoly.polyweb.staffPage.vo.PkgAreaVO">
        SELECT pkg_area_seq, pkg_area_name
        FROM ev_pkg_area
    </select>
    
    <select id="countBoard" resultType="int">
        SELECT COUNT(*) FROM ev_mbr
    </select>
    
    <select id="selectBoard" resultType="com.evpoly.polyweb.staffPage.vo.StaffPageVO">
        SELECT * 
            FROM (
                SELECT @ROWNUM:=@ROWNUM +1 AS RNUM, A.* 
                FROM (
                        SELECT B.mbr_seq, B.mbr_nm, B.mbr_reg_tm, B.mbr_position, B.mbr_state
                        FROM ev_mbr B
                        ORDER BY B.mbr_seq <!-- DESC -->
                   ) A, (SELECT @ROWNUM:=0)R
        ) R
        WHERE RNUM BETWEEN #{start} AND #{end};
    </select>

</mapper>